.input-wrapper {
  max-width: 300px;
}

.input-wrapper input {
  text-align: center;
  border: solid 2px #8a82bd;
}

.input-wrapper input:focus {
  outline: none;
}

.input-wrapper input::placeholder {
  color: #333;
}

.content {
  margin-top: -76px;
}

.join-interview-btn {
  background-color: #1a73e8;
  color: white;
}

.join-interview-btn:hover {
  background-color: #1a6dde;
}

.disabled-button {
  background-color: lightgray;
}

.disabled-button:hover {
  background-color: lightgray;
}
