.navbar-utils {
  box-sizing: border-box;
  width: 100%;
  height: 60px;

  /* background: linear-gradient(
    270deg,
    rgba(250, 112, 154, 0.5) -25.88%,
    rgba(254, 225, 64, 0) 112.3%
  ); */

  background: linear-gradient(
    360deg,
    rgba(26, 115, 232, 0.25) 0%,
    rgba(26, 115, 232, 0) 131.82%
  );

  border: 1.5px solid #dcdcdc;
}

.navbar-content {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #fa7d0d;
}
